*,
*::before,
*::after {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(50, 47, 97, 1) 0%, rgba(56, 73, 108, 1) 10%, rgba(0, 212, 255, 1) 100%);
}

.LogoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.LogoWrapper img {
  height: 100%;
  width: auto;
}

.CounterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  height: 100%;
}

.CounterContainer h1 {
  color: white;
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80%;
}

.userName h3 {
  color: white;
}

.userName input {
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 1.1rem;

}

.userName input::placeholder {
  color: rgb(0, 0, 0);
  opacity: .7;
  padding-left: 10px;
  transition: .4s;
}

.userName input:hover::placeholder {
  opacity: .5;
}

.userName .startButton {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: yellow;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  cursor: pointer;
}

.quizContainer {
  width: 100%;
  height: 80%;
}

.quizContainer .quizQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.quizContainer .quizQuestion h3 {
  text-align: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.quizContainer .quizAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
}

.answerButton {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: rgb(98, 220, 224);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: 65px;
  margin-right: 65px;
}

.answerButton.correct {
  background: rgb(16, 216, 16);
}

.answerButton.wrong {
  background: rgb(255, 0, 0);
}

.nextButton {
  width: 200px;
  height: 50px;
  display: block;
  border-radius: 8px;
  border: none;
  background-color: yellow;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 auto;
}

.finishButton {
  width: 200px;
  height: 50px;
  display: block;
  border-radius: 8px;
  border: none;
  background-color: yellow;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 auto;
}

.hiddenClass {
  display: none;
}

.finalResult {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: transparent;
  line-height: 50px;
}

.finalResult p {
  color: white;
}

.finalResult p:nth-child(1) {
  font-size: 2rem;
}

.finalResult p:nth-child(2) {
  font-size: 1.3rem;
}

.counterResult span {
  font-size: 1.2em;
}

@media (max-width: 281px) and (orientation: portrait) {
  .App .userName h3 {
    padding: 10px;
    text-align: center;
  }

  .CounterContainer {
    margin-left: 10px;
  }

  .quizContainer .quizQuestion h3 {
    font-size: 1rem;
  }
}

.resultsTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.resultsTable h2 {
  text-align: center;
  margin-bottom: 50px;
}

.resultsTable-description {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.resultsTable-data {
  display: flex;
  justify-content: space-around;
}



@media (max-width: 321px) and (orientation: portrait) {
  .userName h3 {
    padding: 10px;
    text-align: center;
  }
  .quizContainer .quizQuestion h3 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) and (orientation: portrait) {
  .App {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }

  .LogoWrapper h1 {
    padding: 0;
  }

  .quizContainer {
    display: flex;
    flex-direction: column;
  }

  .quizContainer .quizQuestion {
    height: 25%;
  }

  .finalResult p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 412px) and (orientation: portrait) {
  .finalResult p  {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}

@media (min-width: 950px) and (max-width: 1322px) {
  .quizContainer .quizAnswers button {
    margin-left: 121px;
    margin-right: 121px;
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  .quizContainer .quizAnswers button {
    margin-left: 20px;
    margin-right: 20px;
  }

  .quizContainer .quizQuestion h3 {
    font-size: 1rem;
  }
}